.globalContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.topContainer {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    padding: 1%;
}

.middleContainer {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80%;
}

.bottomContainer {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 10%;
    padding: 1%;
}

.healthBar {
    visibility: visible;
    justify-content: center;
    width: 20%;
    color: white;
}

.unity-progress-bar__progress {
    background-color: var(--darkColor);
}

.waveCountLabel {
    visibility: visible;
    -unity-font-style: bold;
    font-size: 200%;
    -unity-text-align: middle-center;
    color: var(--lightColor);
}

.InstructionsLabels {
    visibility: visible;
    -unity-font-style: bold;
    font-size: 100%;
    -unity-text-align: middle-center;
    color: var(--lightColor);
}

.nextWaveTimeLabel {
    visibility: visible;
    -unity-font-style: bold;
    font-size: 200%;
    -unity-text-align: middle-center;
    color: var(--lightColor);
}

.partsPanel {
    visibility: visible;
    flex-direction: column;
    width: 40%;
    height: 100%;
    background-color: var(--middleColor);
    border-width: 5px;
    border-color: var(--darkColor);
    transition: 0.5s;
    transition-timing-function: var(--transitionTimingFunction);
}

.partsPanel-hidden {
    transition: 0.5s;
    transition-timing-function: var(--transitionTimingFunction);
    translate: -95% 0;
}
.selectionTabsContainer {
    flex-direction: row;
    width: 100%;
    height: 10%;
}
.tab {
    transition: 0.25s;
    transition-timing-function: var(--transitionTimingFunction);
    width: 40%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--middleColor);
    -unity-font-style: bold;
    font-size: 150%;
    -unity-text-align: middle-center;
    border-width: 0;
}

.tab:hover {
    transition: 0.25s;
    transition-timing-function: var(--transitionTimingFunction);
    color: var(--lightColor);
    background-color: var(--darkColor);
    transform-origin: top center;
    scale: 1 1.3;
}

.tab:active {
    transition: 0.25s;
    transition-timing-function: var(--transitionTimingFunction);
    scale: 1 1;
}

.tab-selectedOne {
    background-color: var(--darkColor);
    color: var(--lightColor);
}

.closeButton {
    flex-grow: 1;
}

.bodyContainer {
    width: 100%;
    height: 90%;
}
.button {
    visibility: visible;
    width: 10%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    -unity-font-style: bold;
    font-size: 200%;
    -unity-text-align: middle-center;
    color: var(--lightColor);
    border-width: 0;
}

.button:hover {
    transition: 0.25s;
    transition-timing-function: var(--transitionTimingFunction);
    scale: 1.3;
    color: var(--darkColor);
}

.button:active {
    transition: 0.25s;
    transition-timing-function: var(--transitionTimingFunction);
    scale: 0.95;
}

.instructionsPanel {
    flex-direction: column;
    width: 30%;
    height: 100%;
    align-items: flex-end;
}
